.ajaxLoad {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
}
.ajaxLoad svg {
    position: relative;
    z-index: 10;
    height: 40px;
    -webkit-animation: bounce 0.5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
    animation: bounce 0.5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
}
.ajaxLoad:after {
    position: absolute;
    bottom: 2px;
    left: 20px;
    display: block;
    width: 22px;
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    content: '';
    -webkit-animation: shadow 0.5s infinite;
    animation: shadow 0.5s infinite;
}
@keyframes bounce {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(0.95, 1.1) translateY(-8px);
        transform: scale(0.95, 1.1) translateY(-8px);
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(0.95, 1.1) translateY(-8px);
        transform: scale(0.95, 1.1) translateY(-8px);
    }
}
@keyframes shadow {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(0.7, 1);
        transform: scale(0.7, 1);
        background: rgba(0, 0, 0, 0.05);
    }
}
@-webkit-keyframes shadow {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(0.7, 1);
        transform: scale(0.7, 1);
        background: rgba(0, 0, 0, 0.05);
    }
}
