.activity {
    margin-top: 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.activity h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 50px;
}

.badge {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #6c757dbe;
    padding: 4px;
    font-size: 12px;
    border-radius: 5px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.fill-card {
    width: 140px;
    height: 240px;
    position: relative;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    /* margin-bottom: 10px; */
}

.card-content {
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px;
}

.card-content h6 {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 10px;
    font-weight: 500;
}

.card-content h6 span {
    font-weight: 200;
    color: #6c757d;
    font-size: 12px;
    text-transform: capitalize;
}

.card-content p {
    font-size: 8px;
    color: green;
    display: flex;
    flex-direction: column;
}

.card-content p span {
    font-size: 6px;
    font-weight: 100;
    justify-content: end;
    color: red;
    text-decoration: line-through;
}

.card-content span {
    display: flex;
    align-items: center;
}

.icons {
    margin-right: 4px;
    width: 10px;
    height: 10px;
}

.button div {
    border: 1px solid #6c757d;
    margin: 2px;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
}

.button div:hover {
    background-color: #6c757d94;
    color: white;
}

@media (min-width: 425px) {
    .card {
        grid-gap: 20px 40px;
    }
}

@media (min-width: 768px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .fill-card {
        width: 200px;
        height: 300px;
    }

    .card img {
        width: 200px;
        height: 200px;
    }

    .card-content h6 {
        font-size: 15px;
    }
    .badge {
        font-size: 15px;
        padding: 5px;
    }

    .card-content p {
        font-size: 13px;
    }
    .card-content p span {
        font-size: 10px;
    }
}

@media (min-width: 1024px) {
    .activity h1 {
        font-size: 50px;
    }
    .card {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .fill-card {
        width: 220px;
        height: 320px;
    }

    .card img {
        width: 220px;
        height: 220px;
    }
    .button div {
        font-size: 20px;
        padding: 10px 15px;
    }

    .card-content h6 {
        font-size: 15px;
    }

    .card-content span {
        font-size: 10px;
    }
    .card-content p span {
        font-size: 10px;
    }
}

@media (min-width: 1440px) {
    .activity h1 {
        font-size: 70px;
    }

    .fill-card {
        width: 300px;
        height: 400px;
    }

    .card img {
        width: 300px;
        height: 300px;
    }

    .card-content h6 {
        font-size: 25px;
    }

    .card-content h6 span {
        font-size: 18px;
    }

    .badge {
        font-size: 20px;
        padding: 10px 15px;
        margin: 8px;
    }
    .button div {
        font-size: 30px;
        padding: 15px 20px;
    }

    .card-content p {
        font-size: 17px;
    }

    .card-content p span {
        font-size: 12px;
    }
}
