.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(34, 193, 195, 0.7) 0%,
        rgba(253, 187, 45, 1) 50%,
        rgba(34, 193, 195, 1) 100%
    );
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    width: 100%;
    padding: 30px 20px;
}

.form h1 {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.form h1 span {
    font-weight: 200;
    font-size: 25px;
    color: rgb(128, 128, 128);
}

.form-input {
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.form-input label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-input input {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    font-size: 15px;
    outline: none;
    color: black;
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form a {
    text-decoration: underline;
    color: rgb(128, 128, 128);
    font-size: 12px;
    margin-top: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}
.button button {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(128, 128, 128);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.addition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
}

.addition a {
    font-weight: bold;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

@media (min-width: 425px) {
    .form-input {
        margin-top: 9px;
        padding: 25px;
    }
}

@media (min-width: 768px) {
    .form {
        flex-direction: row-reverse;
        height: max-content;

        padding: 30px 50px;
    }
    .form h1 {
        font-size: 60px;
        justify-content: center;
        height: 100%;
        margin-left: 20px;
    }

    .form-input {
        height: max-content;
    }

    .form-input label {
        font-size: 20px;
        margin-bottom: 20px;
        gap: 10px;
    }

    .form-input label input {
        font-size: 18px;
        padding: 16px;
    }

    .form h1 span {
        font-size: 35px;
    }

    .form a {
        font-size: 17px;
    }

    .form-checkbox input {
        width: 20px;
        height: 20px;
    }

    .form-checkbox {
        align-items: center;

        font-size: 20px;
    }
    .button button {
        font-size: 20px;
        height: 50px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .addition {
        font-size: 20px;
    }

    .addition a {
        margin-top: 3px;
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .auth {
        padding: 0 35px;
    }
    .form {
        padding: 0;
        height: 70%;
    }

    .form h1 {
        gap: 7px;
        font-size: 70px;
    }

    .form h1 span {
        font-size: 40px;
    }

    .form-input {
        padding: 38px;
        height: 100%;
    }

    .form-input label {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .form-input label input {
        font-size: 25px;
    }

    .form-checkbox input {
        width: 30px;
        height: 30px;
        align-items: center;
    }

    .form-checkbox {
        font-size: 30px;
    }

    .form a {
        font-size: 20px;
    }

    .button {
        margin-top: 90px;
    }

    .button button {
        font-size: 25px;
        height: 60px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .addition {
        font-size: 25px;
    }

    .addition a {
        font-size: 20px;
        padding: 5px;
    }
}
@media (min-width: 1440px) {
    .auth {
        padding: 0 45px;
    }
    .form h1 {
        font-size: 100px;
    }

    .form h1 span {
        font-size: 50px;
    }

    .form-input label {
        font-size: 40px;
    }

    .form-input label input {
        padding: 20px;
        font-size: 45px;
    }
    .from-checkbox input {
        width: 55px;
        height: 55px;
    }

    .form-checkbox {
        font-size: 40px;
    }

    .form a {
        font-size: 30px;
    }

    .button button {
        font-size: 45px;
        height: 100px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .addition {
        font-size: 30px;
    }

    .addition a {
        margin-left: 10px;
        font-size: 30px;
    }
}
