.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.categories h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 50px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.fill-card {
    width: 140px;
    position: relative;
}

.fill-card h6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.button div {
    border: 1px solid #ffff;
    margin: 2px;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    width: 80px;
    text-align: center;
}

.button div:hover {
    background-color: #ffff;
    color: #010101;
    font-weight: bold;
}

.select {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 10px 0;
    color: black;
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.5);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.select option {
    color: #010101;
}

.filter {
    width: 100%;
    text-align: end;
    margin-bottom: 5px;
}

@media (min-width: 425px) {
    .card {
        grid-gap: 20px 40px;
    }
}

@media (min-width: 768px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;
        row-gap: 50px;
    }
    .fill-card {
        width: 200px;
    }

    .fill-card h6 {
        font-size: 20px;
    }

    .card img {
        width: 200px;
        height: 200px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    }

    .button div {
        font-size: 20px;
        text-align: center;
        width: 100px;
        padding: 5px 15px;
    }
}

@media (min-width: 1024px) {
    .categories h1 {
        font-size: 50px;
    }
    .card {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 38px;
        row-gap: 60px;
    }
    .fill-card {
        width: 220px;
    }

    .fill-card h6 {
        font-size: 25px;
    }

    .card img {
        width: 220px;
        height: 220px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    }
    .button div {
        margin-top: 50px;
        width: 120px;
        font-size: 25px;
        padding: 10px 15px;
    }
}

@media (min-width: 1440px) {
    .categories h1 {
        font-size: 70px;
    }

    .card {
        grid-gap: 44px;
        row-gap: 65px;
    }

    .fill-card {
        width: 300px;
    }

    .fill-card h6 {
        font-size: 30px;
    }

    .card img {
        width: 300px;
        height: 300px;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.7);
    }

    .button div {
        width: 150px;
        font-size: 30px;
        padding: 15px 27px;
    }
}
