.banner-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.banner-title h1 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
}

@media (min-width: 768px) {
    .banner-title h1 {
        font-size: 45px;
    }
    .banner-title p {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .banner-title h1 {
        font-size: 65px;
    }
    .banner-title p {
        font-size: 35px;
    }
}
