/* Header */
.header {
    display: flex;
    position: relative;
    line-height: 1.8;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
    filter: brightness(0.8);
    object-position: center;
    background-attachment: fixed;
}

.header-content {
    position: absolute;
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header-content h1 {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.1;
}

.button {
    margin: 4px;
    background-color: #2463eb;
    padding: 5px;
    width: 70px;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
}

.button-color {
    background-color: #f5dbdb;
    color: black;
}
.button-width {
    width: 150px;
    padding: 5px;
    border: 2px ridge #2463eb;
    animation: bounce 1.5s ease-in-out infinite;
}

/* Payment Section */
.section {
    margin-top: 50px;
}
.section-header {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.section-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.section-icons-f {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.responsive {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 1px solid #f5dbdb;
    padding: 10px;
    border-radius: 50px;
    grid-template-columns: repeat(1, 1fr);
}

.section-icon {
    width: 100px;
    height: 100px;
    margin: auto;
}

/* discover section */
.main-container {
    margin: 70px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discover-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.discover {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.discover-text {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 5px;
    color: black;
    align-items: center;
}

.discover-text span {
    font-weight: bold;
    color: #2463eb;
}

.section-button {
    width: 100%;
}

.section-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section-button-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.section-header-discover {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 5% 0;
    color: black;
}

/* avatars */
.section-avatars-containers {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 10px;
    padding-bottom: 16px;
    /* justify-content: center; */
}
.section-avatars {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    max-width: 30px;
}

.section-avatars-img1 {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 1;
}
.section-avatars-img2 {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
    opacity: 0.9;
    z-index: 2;
}
.section-avatars-img3 {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -20px;
    z-index: 3;
}

.section-avatars-containers p {
    font-size: 10px;
    padding: 0;
}

/* Responsive */

/* Tablet */
@media (min-width: 768px) {
    /* Header */
    .header-content {
        align-items: center;
        margin: auto 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-content h1 {
        font-size: 60px;
        font-weight: bolder;
        margin-bottom: 3px;
        text-align: center;
    }
    .header-content p {
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 10px;
        text-align: center;
    }
    .button {
        width: 150px;
        font-size: 15px;
        margin: 10px 20px;
    }
    .button-width {
        width: 430px;
    }

    /* Payment Section */
    .section-header {
        font-size: 40px;
    }
    .section {
        margin-top: 100px;
    }
    .section-icons {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 10px;
    }
    .section-icons-f {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0 10px;
    }

    /* discover */
    .main-container {
        margin: 200px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section-header-discover {
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0;
        color: black;
    }
    .discover-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .section-button {
        margin-left: 0;
        margin-right: 10px;
    }
    .section-button-container {
        flex-direction: row;
        justify-content: left;
    }
    .section-button-responsive {
        flex-direction: row;
        justify-content: center;
    }

    .section-avatars-containers {
        padding-bottom: 35px;
    }
}

@media (min-width: 700px) {
    .header {
        line-height: 2.5;
    }
    .section-header {
        font-size: 30px;
    }

    .discover {
        margin-top: 200px;
    }
    .discover-text {
        font-size: 20px;
        margin: 5px auto;
    }
    .section-button {
        font-size: 20px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .section-icons {
        grid-template-columns: repeat(6, 1fr);
    }
    .section-icons-f {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-container {
        flex-direction: row;
        align-items: center;
    }

    .main-container img {
        width: 600px;
    }

    .discover-container {
        margin: 10px;
    }

    .discover-text {
        font-size: 20px;
        padding-left: 10px;
    }

    .section-header-discover {
        font-size: 40px;
        font-weight: bold;
        margin: 10px 10px;
        color: black;
    }

    .section-button-container {
        flex-direction: row;
        justify-content: left;
    }
}

/* Large Desktop */
@media (min-width: 1440px) {
    .discover-container {
        width: 50%;
    }

    .section-header-discover {
        font-size: 70px;
        line-height: 1;
        /* margin-bottom: 20px; */
    }

    .discover-text {
        font-size: 30px;
    }
    .section-button {
        font-size: 22px;
        padding: 7px;
    }

    .section-avatars-containers p {
        font-size: 20px;
    }
}

/* Mobile */

@media (max-width: 375px) {
    .header-content h1 {
        font-size: 15px;
    }
    .header-content p {
        font-size: 10px;
    }
}

/* Animations */
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
