.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 35px 25px;
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 20px;
    transition: all 0.5s ease;
    cursor: unset;
}

.navActive {
    cursor: unset;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 35px 25px;
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 20px;
}

.navActive div ul li a {
    color: #2463eb;
    font-weight: bolder;
}

.list {
    display: none;
}

.hamburger {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.offcanvas {
    
    background: linear-gradient(
        rgba(34, 193, 195, 0.7),
        rgba(34, 193, 195, 0.7)
    );
}

.logo {
    display: flex;
    cursor: pointer;
    width: 70px;
    align-items: center;
}

.profile {
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profil-list {
    width: fit-content;
}

.profil-list li {
    width: 50%;
    text-align: center;
    /* padding: 10px 0; */
}

.profil-list li a {
    font-size: 15px;
    text-decoration: none;
    /* color: white; */
}

/* Responsive */

/* Mobile */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .offcanvas{
        display: none;
    }
    .nav {
        display: flex;
        align-items: center;
        margin-right: auto;
        padding: 25px 35px;
        position: fixed;
        right: 0;
        left: 0;
        height: 80px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        order: -1;
    }
    .logo img {
        width: 100px;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .profile {
        display: flex;
        width: 60px;
        height: 60px;
        margin: 10px;
    }
}

@media (min-width: 1440px) {
    .nav {
        padding: 25px 35px;
        height: 80px;
    }
    .navActive {
        padding: 25px 35px;
        height: 80px;
    }
    .list {
        font-size: 30px;
    }
    .offcanvas{
        display: none;
    }

    .profile {
        width: 70px;
        height: 70px;
    }
    .profil-img {
        width: 70px;
        height: 70px;
        padding-top: 5px;
    }
    .profil-list {
        font-size: 25px;
        padding: 10px;
    }
    .logo {
        padding-top: 10px;
    }
    .logo img {
        width: 150px;
    }
}
