.pagination {
    display: flex;
    /* background-color: #ccc; */
    background-color: rgba(240, 248, 255, 0.5);

    width: 100%;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
}

.pagination li p {
    padding: 5px;
    font-size: 12px;
    color: #654a2c;
}

.pagination:hover {
    cursor: pointer;
}

.pagination .page-item.active p {
    /* background-color: #654a2c; */
    background-color: rgba(36, 99, 235, 0.411);

    /* background-color: #ffbb70; */
    font-weight: bolder;
    color: #654a2c;
    border: 1px solid #ccc;
}

.pagination li p:hover {
    background-color: rgba(36, 99, 235, 0.411);

    /* background-color: #ffbb70; */
    color: #654a2c;
}
