.pagination {
    display: flex;
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 15px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
}

.pagination li p {
    padding: 5px;
    font-size: 12px;
    color: #654a2c;
}

.pagination:hover {
    cursor: pointer;
}

.pagination .page-item.active p {
    background-color: rgba(36, 99, 235, 0.411);
    font-weight: bolder;
    color: #654a2c;
    border: 1px solid #ccc;
}

.pagination li p:hover {
    background-color: rgba(36, 99, 235, 0.411);
    overflow: hidden;
    color: #654a2c;
}

@media (min-width: 768px) {
    .pagination {
        gap: 20px;
    }
    .pagination li p {
        padding: 7px;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .pagination {
        gap: 40px;
        margin-top: 15px;
    }
    .pagination li p {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .pagination {
        gap: 80px;
        margin-top: 10px;
    }
    .pagination li p {
        font-weight: bold;
    }
}
