.background {
    background: linear-gradient(
        rgba(34, 193, 195, 0.7) 0%,
        rgba(253, 187, 45, 1) 50%,
        rgba(34, 193, 195, 1) 100%
    );
    height: 100vh;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 99, 235, 0.411);
    justify-content: space-between;
    height: 100vh;
    width: 20vw;
    position: fixed;
    border-radius: 0 30px 30px 0;
    padding: 15px 0px;
    top: 0;
    left: 0;
    z-index: 9999;
}

.link {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    order: -1;
}
.logo img {
    width: 100px;
    padding-bottom: 10px;
}

.logo h1 {
    text-transform: uppercase;
    width: 20vw;
    color: black;
}

.icons {
    width: 45px;
    padding: 10px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.sidebar ul li:hover {
    cursor: pointer;
    background-color: #597ac0d3;
}

.profile {
    padding: 2px 0px;
}

/* Dashboard Styling Page */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin: auto;
    position: absolute;
    right: 0;
    width: 80vw;
    padding: 10px;
}
.dashboard-card_header {
    width: 100%;
    background-color: rgba(240, 248, 255, 0.5);
    display: flex;
    color: black;
    margin-top: 10px;
    align-items: center;
    padding: 5px 10px;
    gap: 15px;
    justify-content: space-between;
    border-top-right-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
}

.dashboard-card_header img {
    padding: 3px;
    width: 80px;
    border-radius: 50%;
}

.dashboard-card_header h1 {
    width: 50%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6px;
    height: 100%;
    line-height: 1.1;
    font-weight: bold;
    text-transform: uppercase;
}
.dashboard-card_header h1 span {
    font-size: 10px;
}

.button-edit {
    color: #3f83f8;
}

.dashboard-card_header2 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 20px;
    width: 100%;
    color: black;
    padding: 10px;
    margin-top: 10px;
}

.dashboard-card_header2 h1 {
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dashboard-card_header2 p {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.dashboard-card_header2 h1 {
    gap: 2px;
}

.dashboard-card_header2 h1 span {
    color: #3f83f8;
}

.dashboard-card_body {
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard-card_body h1 {
    text-shadow: #fff 0px 0px 5px, #ffea2d 0px 0px 10px, #fff 0px 0px 15px,
        #ffea2d 0px 0px 20px, #22c1c3 0px 0px 30px, #22c1c3 0px 0px 40px,
        #ffea2d 0px 0px 50px, #22c1c3 0px 0px 75px;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bolder;
}

.table {
    max-height: 100px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 400px;
}

.border {
    border-bottom: 1px solid #fff;
}

.scroll-shadow {
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.5);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    width: 100%;
    height: 35px;
}

.accordion-title p {
    color: black;
    font-weight: 700;
}

.accordion-title img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.accordion-body {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 1px solid #ffff;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.5);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion-body ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 70%;
    margin: auto;
    justify-content: center;
    /* background-color: yellowgreen; */
}
.accordion-body ul li {
    color: black;
    padding: 0px 3px;
}

@media (min-width: 768px) {
    .sidebar {
        border-radius: 0 50px 50px 0;
    }

    .sidebar ul li {
        padding: 25px 3px;
        justify-content: start;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding-right: 5px;
    }
    .icons {
        width: 45px;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        width: 15vw;
        padding: 15px 0px;
        border-radius: 0 60px 60px 0;
    }

    .sidebar ul li {
        padding: 20px 4px;
    }

    .link {
        font-size: 18px;
    }
    .icons {
        width: 45px;
    }
}

@media (min-width: 1440px) {
    .sidebar ul li {
        padding: 40px 5px;
    }

    .link {
        font-size: 23px;
    }

    .icons {
        width: 60px;
    }

    .logo {
        width: 100%;
    }

    .logo img {
        width: 150px;
    }

    .sidebar {
        border-radius: 0 80px 80px 0;
        padding: 30px 0px;
    }
}
